<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infotech - Certification</title>
    <link rel="stylesheet" href="/css/styles15.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <header class="header">
        <div class="containerh">
            <h1>Infotech</h1>
            <nav>
                <ul>
                </ul>
            </nav>
        </div>
    </header>
    <div class="mainDiv">
        <div class="certificate-container">
            <img src="/css/image.png" alt="Company Logo">
            <div class="certificate-header">
                <div class="certificate-title">CERTIFICATE OF COMPLETION</div>
                <div class="certificate-subtitle">This certificate is awarded to</div>
            </div>
            <div class="certificate-name">{{name}}</div>
            <div class="certificate-details">has successfully completed an internship as a {{jobTitle}} at Infotech Pvt.
                ltd. for a duration of {{duration}}. During this period, demonstrated exceptional skills and contributed
                positively to our team's projects and objectives.</div>
            <div class="certificate-signatures">
                <div class="signature">A. B. Random<br>Founder</div>
                <div class="signature">A. B. Random<br>Manager</div>
            </div>
        </div>
    </div>
    <div class="twoButtons">
        <button>Download</button>
    </div>



</body>

</html>